@import "reset";
@import "variable";

.d-flex {
    display: flex;
}

body {
    padding: 30px 42px 42px 60px;
}

.wrap {
    width: 940px;
    margin: 0 auto;
}

.header{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .logo {
        width: 220px;
        height: 40px;
    }
    .nav {
        align-items: center;
        li {
            margin-left: 60px;
            &:last-child {
                margin-left: 79px;
            }
            a {
                display: block;
                color: $primary-color;
                text-decoration: none;
                &:hover {
                    border-bottom: 3px solid;
                    margin-bottom: -3px; // 將 產生的 border-bottom 扣回來，避免 hover 時會文字看起來上移
                }
            }
        }       
    }
}

.banner {
    margin-bottom: 60px;
    img {
        max-width: 100%;
        height: auto;
    }
}

.container {
    margin-bottom: 30px;
    .category  {
        width: 300px;
        font-size: 24px;
        margin-right: 20px;
        h2 {          
            color: $text-color-white;
            background-color: $primary-color;
            padding: 16px 102px;
        }

        ul {   
            border: 1px solid $green-light;
            li {
                border-bottom: 1px solid $green-light;
                &:last-child {
                    border: none;
                }
            }  
            a {
                color: $primary-color;
                display: block;
                text-decoration: none;
                text-align: center;
                padding: 16px 0;
                &.active {
                    background-color: $active;

                }
                &:hover:not(.active) {
                    background-color:  darken($active,15%);
                }
            }
        }
    }

    .product-list {
        width: 620px;
        justify-content: space-between;
        flex-wrap: wrap;
        .product-card {
            width: 300px;
            position: relative;
            font-size: 20px;
            color: $primary-color;
            margin-bottom: 20px;
            border: 1px solid $green-light;
            .hot {
                background-color: $primary-color;
                width: 36px;
                padding: 10px;
                position: absolute;
                top: 0;
                left: 20px;
                color: $text-color-white;
                font-size: 16px;
                line-height: 1.2;
            }
            .favorite {
                position: absolute;
                top: 19px;
                right: 22px;
            }
            .product-info {              
                .product-name {
                    padding: 14px 33px;
                    border-right: 1px solid $green-light;
                    text-align: center;
                }   
                .product-price {
                    width: 127px;
                    padding: 14px 0;
                    font-weight: bold;
                    text-align: center;
                }
            }          
            .add {
                text-align: center;
                width: 100%;
                padding: 16px 0;
                font-size: 24px;
                background-color: $green-light;
                color: $primary-color;
                border: 1px solid #EAF0ED;
                cursor: pointer;
                position: relative;
                font-weight: bold;
                opacity: 0.9;  /*要做的 hover 效果若有背景色無法呈現，故需要稍微減低透明度*/
                &::before {
                    content: "";
                    position: absolute;
                    width: 0%;
                    left: 0;
                    top: 0;
                    transition: 0.3s;
                    background-color: $primary-color;
                    height: 100%;
                    opacity:0.3;
                    z-index: -1;
                }
                &:hover::before {
                    width: 100%;
                }
            }
        }
    }
}

.page-num {
    justify-content:flex-end;
    .page {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 60px;
        height: 60px;
        font-size: 20px;
        color: $primary-color;
        border: 1px solid #EAF0ED;
        margin-left: -1px;
        &:hover:not(.active) {
            background-color: $green-light;
        }
    }
    .active {
        background: $primary-color;
        color: $text-color-white;
    }
}
